* {
    font-family: 'Pirata One', cursive;
    text-align: center;
}

h1 {
    position: relative;
    top: 5rem;
    margin: auto;
}

h2 {
position: relative;
top: 38rem;
margin: auto;
}

.main-game {
    visibility: visible;
}

.hidden {
    visibility: hidden
}

.choose-team {
    visibility: visible;
}

.selector {
    visibility: hidden;
}

.pirate {
    visibility: hidden; 
}

.navy {
    visibility: hidden;
}

.navy>div {
    background-color: lightgray;
    border: 1px solid black;
}

.pirate>div {
    background-color: lightgray;
    border: 1px solid black;
}

#navy-button {
    visibility: visible;
}

#pirate-button {
    visibility: visible;
}

#affiliation {
    position: absolute;
}

#pirates {
    position: absolute;
}

#navy {
    position: absolute;

}

#ship-select {
    position: absolute;
}

#game-board {
    height: 40rem;
    width: 80rem;
    position: center;
    margin: auto;
} 
#opponent-map {
    display: grid;
    height: 30rem;
    width: 30rem;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-image: radial-gradient(circle, turquoise, teal, rgb(73, 73, 140));
    border-image: radial-gradient(circle, turquoise, teal, rgb(73, 73, 140) ) 30;
    border-radius: 5%;
    border-width: 5rem;
    border-style: solid;
    display: inline-block;
    visibility: visible;
}

#opponent-map>div {
    border: 2px solid black;
    background-color: gray;
    margin: 0 1px;
    background-size: contain;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 10%;
    display: inline-block;
    
}

#opponent-map>div:hover {
    border-color:burlywood;
}

#player-map {
    display: grid;
    height: 30rem;
    width: 30rem;
    position: absolute;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-image: radial-gradient(circle, turquoise, teal, rgb(73, 73, 140));
    border-image: radial-gradient(circle, turquoise, teal, rgb(73, 73, 140) ) 30;
    border-radius: 5%;
    border-width: 5rem;
    border-style: solid;
    visibility: hidden;

}

#player-map>div {
    border: 2px solid black;
    background-color: gray;
    margin: 0;
    background-size: contain;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 10%;
    justify-self: center;
    
}

#pl-info {
    height: 40rem;
    width: 15rem;
    background-color: blanchedalmond;
    display: inline-block;
    position: relative;
    vertical-align:top
}

#comp-info {
    height: 40rem;
    width: 15rem;
    background-color: blanchedalmond;
    display: inline-block;
    position: relative;
    vertical-align:top
}

#cannon-type {
    height: 5rem;
    width: 70rem;
    background-color: gray;
    clip-path: polygon(0 0, 100% 0, 81% 100%, 20% 100%);
    margin: auto;
}

#cannon-type>div {
    position: relative;
    margin: auto 2rem;
    background-color: aqua;
    border: 3px solid black;
    height: 4rem;
    width: 4rem;
    display: inline-block;
}

#cannon-type>div:hover {
    border-color: goldenrod;
}

#pship-select {
    height: 38rem;
    width: 12.5rem;
    background-color: cyan;
    border: 4px solid black;
    position: absolute;
    top: 55%;
    left: 80%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-items: right;
}

#nship-select {
    height: 38rem;
    width: 12.5rem;
    background-color: cadetblue;
    border: 4px solid black;
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
    align-items: center;
}

/* grid div keys */
.ship {
    margin-top: 2.5rem;
    height: 2.5rem;
}

.hit {
    background-color: red;
}

.miss {
    background-color: teal;
}

.sunk {
    background-color: black;
 /* background-image: wreckage.jpg; */
}
#0 {
    visibility: visible;
}

#pirate-1 {
    width: 2.5rem

}

#pirate-2 {
    width: 5rem
}

#pirate-3 {
    width: 7.5rem;
}

#pirate-4 {
    width: 10rem
}

#pirate-5 {
    width: 12.5rem
}

#navy-1 {
    width: 2.5rem;
}

#navy-2 {
    width: 5rem;
}

#navy-3 {
    width: 7.5rem;
}

#navy-4 {
    width: 10rem;
}

#navy-5 {
    width: 12.5rem;
}
/* Photo by <a href="https://unsplash.com/@fischh?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Claire Fischer</a> on <a href="https://unsplash.com/photos/TbEf3aIybcs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */